<%= form_for @search, url: search_index_path do |f| %>

  <% if @search.errors.any? %>
    <div>
      <%= pluralize(@search.errors.count, "error") %> prevented this search from being submitted:
      <ul>
        <% @search.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :director %><br>
    <%= f.date_field :director %>
  </div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>