<!DOCTYPE html>
<html>
<head>
  <title>RottenTomatoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
 <!-- error messages are displayed here -->
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>

<!-- search field -->
<!--   <form accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="Search">Search for:</label>
  <input id="movie_search" name="movie_search" type="text" placeholder="Movie"/>
  <input id="director_search" name="director_search" type="text" placeholder="Director" />
  <input name="commit" type="submit" value="Search" />
</form> -->

<%= form_tag search_index_path, method: "GET" do %>
<%= text_field_tag :search %>
<%= select_tag :runtime_in_minutes, options_for_select([['All',"all"],['Under 90 minutes',"under_90_minutes"],['Between 90 and 120 minutes',"between_90_and_120_minutes"],['Over 120 minutes', "over_120_minutes"]],1) %>
<%= submit_tag 'Search' %>
<% end %>

<!-- :as => :select, :label => "Degree", :include_blank => false, :collection => [["Hot", 1], ["Medium", 2], ["Cold", 3]]  -->


  <%= yield %>
  
  <%= render 'layouts/footer' %>

</body>
</html>
